.alert-box {
    background-color: bisque;
    padding: 20px;
    color: rgb(155, 139, 119);
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}

#alert-middle {
    background-color: powderblue;
    color: rgb(110, 135, 138);
}

#alert-bottom {
    background-color: pink;
    color: rgb(149, 112, 119);   
}

.open-btn {
    background-color: transparent;
    border: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: rgb(167, 167, 167);
    font-weight: 600;
    margin-left: 70vw;
}